body{
	background-color: #efefef;
}

@font-face {
  	font-family: 'Roboto';
	src: url('Roboto/Roboto-Regular.ttf');
	font-style: normal;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Regular.ttf');
	font-style: normal;
}

.top-line{
	height: 50px;
	width: 60%;
	margin: auto;
}

nav{
	width: 100%;
}

ul{
	list-style-type:none;

}

li{
	text-align: center;
	align-content: center;
}

nav li a{
		text-decoration: none;
		color: #333333;
		line-height: 50px;
	}

.flex{
	display: flex;
	justify-content: space-evenly;
}

.second-line{
	background-color: #ffffff;
	border-bottom: 1px solid #EFEFEF;
}

.second-line nav{
	height: 50px;
	width: 40%;
	margin: auto;
}

.logo{
	display: flex;
	justify-content: space-around;
	line-height: 80px;
	width: 90%;
	margin: auto;
}

#logo img{
	height: 80px;
	width:	270px;
}

.n_rC{
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 330px;
	flex-wrap: wrap;
}

#reversCall{
	width: 170px;
	height: 40px;
	border: 2px solid #66C05D;
	border-radius: 40px;
	text-align: center;
	margin: auto 0;
	line-height: 40px;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

#number{
	text-align: center;
	align-content: center;
}

.promo{
	background-image: url("image/back_content.png");
	width: 100%;
	height: 604px;
	background-position: center;
	background-size: cover;
}

#promo{
	height: 604px;
	width: 1110px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	justify-content: center;
	margin: auto;
}


#promo_1{
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 50px;
	width: 308px;
	color: #FFFFFF;
}

#promo_2{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 50px;
	width: 308px;
	color: #FFFFFF;
}

#promo_3{
	width: 170px;
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}

.catalog{
	background-color: #EFEFEF;
}

#spec{
	display: flex;
	justify-content: space-between;
	width: 1110px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 38px;
}

#spec p{
	font-weight: 700;
	font-size: 24px;
	line-height: 60px;

}

#spec img{
	width: 188px;
	height: 60px;
}

#catalog ul{
	justify-content: space-between;
}

#catalog ul{
	width: 1110px;
	margin: auto;
}

#catalog ul li{
	width: 255px;
	height: 363px;
	background-color: #ffffff;
	
}

#catalog ul li img{
	width: 125px;
	height: 166px;
	margin-bottom: 20px;
	margin-top: 25px;
}

#catalog div{
	margin-bottom: 20px
}

#buy{
	width: 130px;
	height: 35px;
	background-color: #66C05D;
	border-radius: 35px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
	margin: auto;
	text-decoration: none;
	display: block;
}

.prefoot{
	display: flex;
	justify-content: space-between;
	width: 1110px;
	height: 212px;
	background-color: #efefef;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 133px;
}

.pref_1 {
	display: flex;
	justify-content: space-between;
	height: 212px;
	width: 540px;
	background-color: #66C05D;
	color: #ffffff;	
}

.pref_1 div{
	width: 250px;
	margin-left: 40px;
	margin-top: 35px;
}


.pref_1 p{
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 25px;
}

.pref_1 b{
		font-weight: 700;
		font-size: 18px;
		
}

#email{
	height: 35px;
	width: 200px;
	border-radius: 35px;
	padding-left: 25px;
}

.pref_2 div{
	width: 170px;
	margin-left: 40px;
	margin-top: 35px;
}

.pref_2 p{
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 25px;
}

.pref_2 b{
	font-weight: 700;
	font-size: 18px;

}

.pref_2 {
	height: 212px;
	width: 540px;
	background-color: #66C05D;
	color: #ffffff;	
}

.pref_2 a{
	text-decoration: none;
	color: #ffffff;
	width: 170px;
	height: 35px;
	display: block;
	text-align: center;
	line-height: 35px;
	border-radius: 35px;
	border: 2px solid #ffffff;
}

#contact{
	background-color: #ffffff;
	padding-bottom: 37px;
	padding-top: 37px;
}

.contact{
	width: 1110px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	line-height: 45px;
}

.social{
	display: flex;
	justify-content: space-between;
	width: 235px;
	height: 45px;
}

.social img{
	width: 45px;
	height: 45px;
}


.conf{
	width: 1110px;
	height: 64px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-top: 25px;
}
